@font-face {
  font-family: "MORIN Regular";
  font-style: normal;
  font-weight: normal;
  src: local("MORIN Regular"), url("morin-regular-ce29.ttf") format("woff");
}

h1 {
  font-family: "MORIN Regular";
}
